.github {
    fill: black
}
.github:hover {
    fill: white;
    transition: all .2s ease
}

.bg-black-60 {
    background-color: rgba(0, 0, 0, 0.4);
}

* {
    font-family: 'Helvetica', sans-serif;
}

.bg-top {
    background-position: center;
}

.flex {
    flex-direction: column-reverse;
}

.flex div {
    width: 75%;
    padding: 0;
    text-align: center;
    margin: auto;
}

.text-left {
    text-align: left;
}